.subject {
  border-top: 1px dashed #dddddd;
  padding: 5px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  &:first-of-type {
    border-top: none;
  }
}

.subject a {
  color: #3576a8;
}

.subject:last-of-type {
  border-bottom: 1px dashed #dddddd;
}

.newSup {
  position: relative;
  top: -5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 4px;
  font-size: 12px;
  color: #fff;
  padding: 0 3px;
  background-color: orange;
}