@import '../../../css/constant.scss';
.presestTagWrapper {
  width: 800px;
  margin: 10px 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.tag {
  color: #333;
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
  line-height: 28px;
  text-decoration: none;
  &:hover {
    color: $bgBlue;
  }
}

.highlight {
  border-radius: 3px;
  line-height: 24px;
  background-color: $bgBlue;
  color: #fff;
  &:hover {
    color: #fff;
  }
}