@import '../../../css/constant.scss';

.linkWrapper{
  position: relative;
  display: block;
}
// ===== card ===== 
.card {
  width: 130px;
  margin: 4px 0px 4px 0px;
  padding: 0 0 4px 0;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
  }
}

.loadingCard {
  background-color: #f7f7f7;
}

.title {
  margin: 7px auto 0 auto;
  text-align: center;
  font-size: 14px;
  color: #222;
}

// image
.customImage {
  margin: 0 auto;
  width: 100%;
  height: 182px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
  .loadingImg {
    position: absolute;
    display: block;
    width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// pubbedInfo
.rateAndStar {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.ant-rate) {
  font-size: 12px;
  margin-right: 5px;
}

:global(.movieCardStar .ant-rate-star) {
  font-size: 12px;
  margin-right: 2px;
}

.rate {
  line-height: 30px;
  color: $rateOrange;
}

.noRate {
  line-height: 30px;
  text-align: center;
  color: #888;
}

.year {
  text-align: center;
  color: #666666;
}

// button
.buyButtonWrapper {
  margin: 4px auto 10px auto;
  text-align: center;
}

// ===== hoverCard =====
.hoverCardWrapper{
  position: absolute;
  width: 180px;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 20px;
  z-index: 999;
}