.globalNavItems {
  background-color: #545652;
  padding: 5px 0;
}

.globalNavItems a {
  color: #d1d1d1;
  text-decoration: none;
  margin: 0 10px;
}

.movieNav {
  background-color: #f0f3f5;
  margin: 0 0 20px 0;
}

.titleAndSearchWrapper {
  width: 1040px;
  margin: 0 auto;
  color: #2676a8;
}


.titleAndSearch {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 0;
}

.globalNavItems a:hover {
  color: #e1e1e1;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #2a8ccb;
  margin: 0 20px;
}

.movieCateNavWrapper {
  border-top: 1px solid #e3ebec;
}

.movieCateNav {
  width: 1040px;
  margin: 0 auto;
  padding: 10px 0;
}

.movieCateNav a {
  font-size: 14px;
  color: #2676b0;
  margin: 0 10px;
}

// search preview
.searchBarWrapper{
  position: relative;
  width: 400px;
}

.searchBar {
  input{
    border: 1px solid #ddd;
    border-width: 0 2px 2px 0;
  }
}

.searchPreviewWrapper{
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 28px;
  left: 0;
  z-index: 999;
  border: 1px solid #ccc;
}

.searchPreviewItem{
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  &:hover{
    background-color: #eee;
  }
}

.previewImg{
  width:40px;
  height: 56px;
}

.previewInfo {
  margin-left: 10px;
}

.previewItemYear{
  color: #aaa;
}

.previewItemOriginalTitle{
  color: #aaa;
}